.ats {
  margin-top: 40px;
  font-size: 18px;
  &__title {
    font-weight: 700;
    margin: 20px 0;
  }
  ul {
    li {
      &::marker {
        color: #4a78af;
      }
      list-style: disc outside;
      margin-bottom: 20px;
      margin-left: 20px;
      font-size: 18px;
    }
  }
  table {
    font-size: 18px;
    thead {
      font-weight: 700;
      background-color: #edf5ff;
    }
    td {
      padding: 15px;
    }
  }
}

.react-tabs {
  &__tab-list {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
  }
}

.react-tabs__tab--selected {
  background-color: #4a78af !important;
  border-color: #4a78af !important;
  color: white !important;
}

.react-tabs__tab-list {
  border-bottom-color: #4a78af !important;
  font-weight: 600 !important;
}

@media only screen and (max-width: 870px) {
  .react-tabs {
    &__tab-list {
      justify-content: center !important;
    }
    &__tab {
      padding: 10px 10px !important;
      width: 100% !important;
    }
  }
  table {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 500px) {
  table {
    font-size: 16px !important;
    td {
      padding: 5px !important;

    }
    thead {
      hyphens: auto;
    }

  }
}
