.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 430px;
  background-color: #4a78af;
  padding: 30px;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 35vw auto;
  &__hidden {
    width: 30%;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #172e50;
    color: white;
    height: 250px;
    padding: 40px;
    width: 70%;
    max-width: 800px;
    z-index: 0;
  }
  &__subheader {
    font-weight: 700;
    font-size: 16px;
  }
  &__header {
    font-size: 45px;
    font-weight: 900;
    line-height: 45px;
  }
}

.welcome-block {
  background-color: #f8f8f8;
  width: 100%;
  min-height: 475px;
}
.welcome {
  padding: 80px 20px;
  display: flex;
  justify-content: space-evenly;
  &__col {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
  }
  &__text {
    margin-top: 30px;
    font-size: 18px;
    line-height: 24px;
  }
}

.gallery-block {
  width: 100%;
  min-height: 250px;
}

.sm-gallery {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  img {
    margin: 0 5px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1100px) {
  .sm-gallery {
    width: 70%;
    margin: 0 auto;
    img {
      margin: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-block {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 80vw auto;
    align-items: flex-end;
    padding-bottom: 0;
    &__hidden {
      width: 0;
    }
    &__wrapper {
      width: 100vw;
      text-align: center;
    }
    &__header {
      font-size: 40px;
    }
  }
  .welcome {
    flex-flow: column-reverse;
    align-items: center;
    &__col {
      margin: 0 0 40px 0;
      width: 80%;
    }
  }
}
@media only screen and (max-width: 500px) {
  .main-block {
    background-size: 100vw auto;
    &__header {
      font-size: 30px;
      line-height: 35px;
    }
    &__subheader {
      font-size: 16px;
    }
  }
}