.post-preview {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  @apply border rounded-md pr-4 justify-start gap-8 shadow;
  &__image {
    min-width: 300px;
    height: auto;
    position: relative;
    aspect-ratio: 4 / 3;
    img {
      object-fit: cover;
      @apply rounded-l-md;
    }
  }
  &__content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    line-height: 24px;
    margin: 20px 0 40px 0;
    @apply text-pretty;
  }
  &__date {
    font-size: 14px;
    color: grey;
  }
  &__title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
  }
  &__subtitle {
    margin-top: 10px;
    font-size: 16px;
  }
}

.post {
  &__title {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
  }
  &__date {
    margin-top: 10px;
    font-size: 14px;
    color: grey;
  }
  &__content {
    p {
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__text {
    margin-top: 20px;
  }
  &__image {
    max-width: 500px;
    height: auto;
    position: relative;
    aspect-ratio: 4 / 3;
    cursor: pointer;
    img {
      object-fit: cover;
      border-radius: 5px;
    }
  }
}


@media screen and (max-width: 876px) {
  .post-preview {
    max-width: 500px;
    margin: 0 20px 20px 20px;
    flex-direction: column-reverse;
    font-size: 16px;
    gap: 0;
    padding-right: 0;
    &__image {
      width: 100%;
      min-width: 200px;
      margin: 0px 0 20px 0px;
      order: 1;
      border-radius: 0 !important;
      img {
        @apply rounded-t-md;
      }
    }
    &__content {
      @apply mx-5 mt-0 text-sm;
    }
  }
}
