.qual {
  max-width: 600px;
  ul {
    b {
      display: block;
      font-size: 22px;
      margin-bottom: 15px;
    }
    list-style-type: "";
    li {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}