.essay {
  &__image {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
  }
  &__text {
    &-title {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .essay {
    &__image {
      width: 100%;
      margin-bottom: 20px;
      img {
        max-width: 400px;
        width: 100%;
        height: auto;
      }
    }
  }
}